# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# Archivos locales de IntelliJ
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

# =========================
# Java / Maven
# =========================
target/
out/
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
